/* 
∑∑∑ Church of Sigma site - main css ∑∑∑

this file should be linked to in every page
it is not to be used for specific elements

ALL PAGES NEED TO LINK THESE STYLESHEETS FOR FONTS TO WORK: 
<link rel="icon" href="./assets/sigma.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap" rel="stylesheet"> 
*/

/* All elements */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

/* ∑ Typical css for elements ∑ */
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

/* Navbar styles */
#navbar {
  display: block;
}

#main-navbar {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    background-color: whitesmoke;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    height: 60px;
    width: 100vw;
}

#main-navbar li {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#main-navbar li a {
    display: block;
    background-color: rgb(237, 237, 237);
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: "Poppins";
}

#main-navbar li #active {
    background-color: rgb(219, 219, 214);
}

#main-navbar :first-child a {
    background-color: rgb(55, 56, 51);
    color: white;
    font-family: "Righteous";
}

#navbar-gradient {
    background: linear-gradient(whitesmoke, white);
    height: 10px;
    width: 100%;
}


/* ∑ Let the fonts begin... ∑ */
.righteous {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

