body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
}

#book {
    display: flex;
    border: 1px solid #000;
    /* Keep aspect ratio 1.414:1 */
    width: calc((100vh - 40px) * 1.414);
    height: calc(100vh - 40px);
    max-width: 80vw;
    max-height: 80vh;
}

.page {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

#left-page {
    border-right: 1px solid #000;
}

#right-page video {
    width: 100%;
    height: 100%;
}

button {
    margin-top: 20px;
}
