---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="hero-section">
      <div class="text-overlay">
        <h1 class="righteous">Welcome to Sigmism</h1>
        <h4 class="righteous">Your ∑ Grind begins here.</h4>
      </div>
      <div class="background-pattern"></div>
    </div>
    <a href="#content"
      ><p class="background-bottom-text">Scroll down to discover more...</p></a
    >
    <div class="gradient"></div>
    <div id="content">
      <section>
        <h1>We are the Church of Sigma</h1>
        <p>Join us and discover the true meaning of life.</p>
      </section>
    </div>
  </main>
</Layout>

<style>
  #navbar {
    display: block;
  }

  .hero-section {
    position: relative;
    height: 92vh;
    overflow: hidden;
    background: linear-gradient(to bottom, white, #ffffff);
  }

  .gradient {
    height: 50px;
    background: linear-gradient(#ffffff, #e3e3e3);
  }

  .text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .text-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 25px;
    z-index: -1;
  }

  .text-overlay h1,
  .text-overlay p {
    margin: 0;
    padding: 0;
    color: black;
  }

  .background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/sigma.svg") repeat;
    background-size: 182px 182px; /* Adjust size as needed */
    opacity: 0.7;
    z-index: 1;
    transition: opacity 1s ease-in-out;
  }

  .background-bottom-text {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  #content {
    padding: 50px;
    background: #e3e3e3;
  }
</style>

<script>
  document.addEventListener("scroll", function () {
    var scrollPosition = window.scrollY;
    var heroSection = document.querySelector(".hero-section");
    var backgroundPattern = document.querySelector(".background-pattern");

    // Parallax effect
    backgroundPattern.style.transform =
      "translateY(" + scrollPosition * 0.5 + "px)";

    // Fade out effect
    var maxScroll = heroSection.clientHeight / 2;
    var opacity = 0.7 - (scrollPosition / maxScroll) * 0.7;
    backgroundPattern.style.opacity = Math.max(opacity, 0);
  });
</script>
